
<html 
  xmlns:th="https://www.thymeleaf.org/"
  >

<head th:fragment="header">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ECOM-SR-NIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    <!--Category START-->
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category Type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/categorytype/register}">Add</a>
          <a class="dropdown-item" th:href="@{/categorytype/all}">View All</a>
        </div>
      </li>
      <!--Category END-->

      
      
      
      <!--Category START-->
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/category/register}">Add</a>
          <a class="dropdown-item" th:href="@{/category/all}">View All</a>
        </div>
      </li>
      <!--Category END-->
      
      <!--Brand START-->
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brand
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/brand/register}">Add</a>
          <a class="dropdown-item" th:href="@{/brand/all}">View All</a>
        </div>
      </li>
      <!--Brand END-->
      
         <!--Coupon START-->
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Coupon
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/coupon/register}">Add</a>
          <a class="dropdown-item" th:href="@{/coupon/all}">View All</a>
        </div>
      </li>
      <!--Coupon END-->

<li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Product
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/product/register}">Add</a>
          <a class="dropdown-item" th:href="@{/product/all}">View All</a>
        </div>
      </li>
      <!--PRODUCT END-->
      <!--SHIPINGSTART-->
      
      
      <li class="nav-item dropdown">
      
      <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Shipping
      </a>
      
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" th:href="@{/shipping/register}">Add</a>
      <a class="dropdown-item" th:href="@{/shipping/all}">View All</a>
            
      </div>
      </li>
      
      
    </ul>
    
  </div>
</nav>


</html>